<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ToCacheImage</key>
	<true/>
	<key>ToCacheAPIResponse</key>
	<true/>
	<key>APIBaseUrl</key>
	<string>https://s3-ap-southeast-2.amazonaws.com/ios-code-test/ios-code-test/</string>
</dict>
</plist>
